<div layout="column" flex>
  <md-toolbar layout="row" layout-align="start center">
    <md-button layout="row" layout-align="center center" hide-sm class="toolbar-button" aria-label="Settings"
               ng-click="app.toggleRightSidebar()">
      <i class="material-icons">menu</i>
    </md-button>
    <md-button layout="row" layout-align="center center" hide-gt-sm ng-click="app.toggleItemsList()" aria-label="Menu">
      <i class="material-icons">menu</i>
    </md-button>
  </md-toolbar>
  <md-content ng-if="game" style="background-color: gainsboro" flex class="md-padding page-content">
    <div ui-view></div>
  </md-content>
</div>

<md-sidenav md-component-id="left" class="md-whiteframe-z2 md-sidenav-left">
  <md-toolbar>
    <md-toolbar class="md-warn" layout="row" layout-align="center center">
      <i flex="30" layout="row" layout-align="end center" class="material-icons md-60">account_circle</i>
      <md-menu md-offset="0 40">
        <md-button layout="row" layout-align="center center" class="capitalize" ng-click="$mdOpenMenu()"
                   aria-label="Open menu">
          <span>{{app.currentUserName}}</span>
          <i class="material-icons">keyboard_arrow_down</i>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="app.logout()">Log out</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-toolbar>
  </md-toolbar>
  <section>
    <md-list>
      <div class="md-list-item-text">
        <h3>FAQ</h3>
        <p>{{app.faq}}</p>
      </div>
    </md-list>
  </section>
</md-sidenav>
