<md-card style="position: relative; height: 300px;">
  <div flex layout="column" layout-align="center center"  class="overlay-card" ng-if="!game.buildings.houses">
    <md-card-content style="color:#fafafa">
      <h2>Houses</h2>
      <p>Start building to have more people in your kingdom</p>
    </md-card-content>
    <md-button
      md-no-ink
      ng-disabled="game.totalGold < houses.housesCost"
      class="md-primary md-raised"
      ng-click="houses.levelUpHouses()">
      lvl up (cost {{houses.housesCost}})
    </md-button>
  </div>
  <md-card-title ng-if="game.buildings.houses">
    <md-card-title-text>
      <span class="md-headline">Houses</span>
      <span class="md-subhead">Level: {{game.buildings.houses}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img ng-src="http://orig09.deviantart.net/e143/f/2013/169/1/f/medieval_house___pixel_art_by_wupto-d69k7av.png"/>
      </div>
    </md-card-title-media>
  </md-card-title>
  <md-card-content ng-if="game.buildings.houses">
    Level up your houses to have more people to steal to... I mean to pay taxes.
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center" ng-if="game.buildings.houses">
    <md-button
      md-no-ink
      ng-disabled="game.totalGold < houses.housesCost"
      class="md-primary md-raised"
      ng-click="houses.levelUpHouses()">
      lvl up (cost {{houses.housesCost}})
    </md-button>
  </md-card-actions>
</md-card>
